/*
 * colors from http://www.flickr.com/photos/tmcw/5336583817/in/photostream/
 *
 * border: #B8D3D3
 *
 * */

@import url("/css/font/Inconsolata/stylesheet.css");

p, li {
  font: 15px/30px 'Georgia', Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}

/*
 * This will cinch in the page until theres
 * 10px of margin aroun the body element
 */
@media (min-width:860px) {
    html {
        border-right:200px solid #f1fdff;
    }
}


body {
  color:#333;
  width:640px;
  margin:0 auto;
}

@media only screen and (max-device-width: 480px) {
    body {
        width:300px;
        margin:0 10px;
    }

    img {
        max-width:300px;
        height:auto;
    }

    header {
        margin:0px;
    }

    header h1 {
        display:none;
    }

    header ul.navigation {
        width:300px;
        margin:0;
        padding:0;
    }

    header ul.navigation li, header ul.navigation li a {
        margin:0 !important;
        display:inline;
        padding:0 !important;
    }
}

div.wrapper {
}

ol {
  margin-left:30px;
}

header {
  display:block;
  margin-top:10px;
  margin-bottom:20px;
}

header ul.navigation {
  float:right;
  list-style:none;
}

header ul.navigation li {
  display:inline-block;
  margin-left:20px;
  /* abolish when IE7 is gone. */
  zoom:1;
  *display:inline;
}

header ul.navigation li a, header h1, h2, h3, .post-footer, footer {
  font: normal 12px/40px 'Helvetica Neue', helvetica, sans-serif;
}

header ul.navigation li a.active {
  text-decoration:underline;
  color:#334051;
}

div.wrapper ul {
  font: 13px/20px Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  margin:10px 20px;
}

h1, h2 {
  color:#34404D;
  font-weight:bold;
}

h1 {
  font: bold 20px/40px 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
  font: bold 16px/40px 'Helvetica Neue', Helvetica, sans-serif;
}

em {
  font-style:italic;
}

header h1 span.name {
  color:#333;
}

header h1 a:hover span.name {
  color:#000;
}

header h1 a span.name span.b {
  -moz-transition:color 0.1s;
  -webkit-transition:color 0.1s;
}

header h1 a:hover span.name span.b {
  color:#ddd;
}

header h1 a:hover span.name span.a {
}

header h1 a:hover {
  text-decoration:none;
}

a {
  color:#31356F;
  background:#F1FDFF;
  text-decoration:none;
}

p a, div.content ul li a {
}

p a:hover, div.content ul li a:hover {
  color:#11143D;
  background:#FFF9C9;
}

a:hover {
  color:#2F314B;
}

footer, .post-footer {
  color:#D5D9E7;
}

footer {
  padding-bottom:50px;
}

div.post:first-child {
  background:transparent;
  padding-top:0;
  margin:30px 0;
}

div.post {
  margin:29px 0 30px 0;
  padding-top:10px;
}

div.post p {
  margin:10px 0;
}

.inset-right {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}

div.shutter-300 {
  overflow:hidden;
  height:300px;
  margin:20px 0;
}

div.shutter-300 img {
  margin-top:-50px;
}

img.white-on-white {
  border:1px solid #000;
  margin:-1px;
}

span.image-credit {
  float:right;
  margin:0 0 10px 10px;
  font-size:12px;
}

span.image-credit:before {
  content: '↑';
  margin-right:5px;
}

div.crop-200-150 {
  width:200px;
  height:150px;
  overflow:hidden;
  display:inline;
  margin:0 !important;
}

div.image-cube div img {
  display:block;
}

div.image-cube {
  float:left;
}

div.image-cube div {
  margin:10px 0;
  background:#222;
  float:left;
}

div.image-cube div.half {
  width:315px;
}

div.image-cube div:first-child {
  margin-right:10px;
}
div.image-cube div {
}

div.image-cube div a { }

div.image-cube div a span {
  color:#fff;
  padding:0 10px;
  font: 12px/20px 'Helvetica Neue', helvetica, sans-serif;
}

div.image-cube a:hover {
  text-decoration:none;
}

p code, .highlight {
  font: 15px/20px 'InconsolataMedium',Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  background-color:#f0f7f7;
}

pre code {
  font: 15px/20px 'InconsolataMedium',Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.highlight, blockquote {
  overflow-x:auto;
  padding:10px;
  border:1px solid #C9D4D4;
}

div.post blockquote p {
  margin:0;
}

div.link-block {
  font: bold 16px/40px 'Helvetica Neue', helvetica, sans-serif;
  background:#f0f7f7;
  padding:3px;
  text-align:center;
}

div.link-block a {
  text-decoration:underline;
}

/* TODO: get real */
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
}

table.equitable {
  width:640px;
}

table.equitable tr td:first-child {
  border-right:1px solid #3A7680;
  width:319px;
}

/* introduced with gif polyrythms */
table.data-table {
  font:13px/15px 'Helvetica Neue', sans-serif;
  border-collapse:collapse;
}

table.data-table td,
table.data-table th {
  border-collapse:collapse;
  padding:5px;
  border-bottom:1px solid #b8d3d3;
}

table.data-table th {
  background:#f0f7f7;
  font-weight:bold;
}

tr.odd {
  background:#f3fdff;
}

iframe {
  border:0;
}

.archive-images {
  line-height:0;
}

.archive-images img {
  margin:3px;
}
