/*
 * colors from http://www.flickr.com/photos/tmcw/5336583817/in/photostream/
 * */
p {
  font: 13px/20px Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}

html {
  border-top:2px solid #111;
}

body {
  color:#222;
  width:640px;
  margin:0 auto;
}

div.wrapper {
}

header {
  display:block;
  margin-top:20px;
  margin-bottom:20px;
  border-bottom:1px dashed #d8dbe4;
}

header ul.navigation {
  float:right;
  list-style:none;
}

header ul.navigation li {
  display:inline-block;
  margin-left:20px;
  /* abolish when IE7 is gone. */
  zoom:1;
  *display:inline;
}

header ul.navigation li a, h1, h2, h3, .post-footer, footer {
  font: 12px/40px 'Helvetica Neue', helvetica, sans-serif;
}

header ul.navigation li a.active {
  text-decoration:underline;
  color:#334051;
}

div.wrapper ul {
  font: 13px/20px Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  margin:10px 20px;
}

h1, h2 {
  color:#6B7A8A;
  font-weight:bold;
}

h2 {
  font: bold 16px/40px 'Helvetica Neue', helvetica, sans-serif;
}

em {
  font-style:italic;
}


blockquote {
  padding-left:8px;
  border-left:2px solid #7b7fae;
}

header h1 span.symbol {
  background-color:#6B7A8A;
  font: normal 12px/40px 'Helvetica Neue', helvetica, sans-serif;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  margin-right:5px;
  padding:2px;
  height:5px;
  width:5px;
  color:#fff;
}

header h1 span.name {
  color:#BEBEC7;
}

header h1 a:hover {
  text-decoration:none;
}

header h1 a:hover span.name {
  color:#6B7A8A;
}

a {
  color:#7b7fae;
  text-decoration:none;
  -webkit-transition-property:color;
  -webkit-transition-duration:1s;
}

a:hover {
  color:#a5a4ce;
  text-decoration:underline;
}

footer, .post-footer {
  color:#D5D9E7;
}

footer {
  padding-bottom:50px;
}

div.post:first-child {
  border-top:none;
  padding-top:0;
  margin:30px 0;
}

div.post {
  border-top:1px solid #d8dbe4;
  margin:29px 0 30px 0;
  padding-top:10px;
}

div.post p {
  margin:10px 0;
}

img.inset-right {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}

div.shutter-300 {
  overflow:hidden;
  height:300px;
  margin:20px 0;
}

div.shutter-300 img {
  margin-top:-50px;
}

span.image-credit {
  float:right;
  margin:0 0 10px 10px;
  font-size:12px;
}

span.image-credit:before {
  content: '↑';
  margin-right:5px;
}

div.image-cube div img {
  display:block;
}

div.image-cube div {
  margin:10px 0;
  background:#222;
  float:left;
}

div.image-cube div:first-child {
  margin-right:10px;
}
div.image-cube div {
}

div.image-cube div a {
  color:#fff;
  padding:0 10px;
  font: 12px/20px 'Helvetica Neue', helvetica, sans-serif;
}

p code, .highlight {
  font: 11px/20px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  background-color:#f0f7f7;
}

.highlight {
  padding:10px;
}

div.link-block {
  font: bold 16px/40px 'Helvetica Neue', helvetica, sans-serif;
  background:#f0f7f7;
  padding:3px;
  text-align:center;
}

div.link-block a {
  text-decoration:underline;
}
