<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
    'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
<head>
   <meta http-equiv='content-type' content='text/html; charset=utf-8' />
   <title>macwright.org</title>
   <meta name='author' content='Tom MacWright' />
   <meta name='description' content='Tom MacWright' />
   <!-- faaacebook -->
   <meta property="og:site_name" content="macwright.org"/>
   <meta property="og:email" content="tom@macwright.org"/>
   <meta property="og:type" content="blog" />
   <!-- Homepage CSS -->
   <link rel='alternate' type='application/atom+xml' title='Tom MacWright' href='http://feeds.feedburner.com/tommacwright/odWX'>
   <link rel='stylesheet' href='/css/reset.css' type='text/css' media='screen, projection' />
   <link rel='stylesheet' href='/css/screen.css' type='text/css' media='screen, projection' />

   <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-87136-14']);
    _gaq.push(['_setDomainName', 'tommacwright.com']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
    <header>
      <ul class='navigation'>
        <li><a href='/'>Blog</a>
        <li><a href='/projects'>Projects</a>
        <li><a href='/music'>Music</a>
        <li><a href='/about'>About</a>
      </ul>
      <h1><a href='/'><span class='symbol'>tm</span> <span class='name'>Tom MacWright</span></a></h1>
    </header>
  <div class='wrapper'>
    {{ content }}
    <footer>
      &copy; Tom MacWright 2011
    </footer>
  </div>
</body>
</html>

