<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>{% if page.title %}{{ page.title }} - {% endif %} macwright.org</title>
    <meta name='author' content='Tom MacWright' />
    <meta name='description' content='New things and writing about learning, technology, and art' />
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0">
    <meta property="og:site_name" content="macwright.org"/>
    <meta property="og:email" content="tom@macwright.org"/>
    <meta property="og:type" content="blog" />
    <link rel='alternate' type='application/atom+xml' title='Tom MacWright' href='http://macwright.org/atom.xml' />
    <link rel='stylesheet' href='/css/site.css' type='text/css' media='screen, projection' />
    <!--[if lt IE 9]>
    <script src="/js/html5shim.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
</head>
<body class='{{page.class}}'>
    <header>
      <ul class='navigation'>
        <li><a href='/'>Blog</a></li>
        <li><a href='/projects/'>Projects</a></li>
        <li><a href='/music/'>Music</a></li>
        <li><a href='/about/'>About</a></li>
        <li><a href='/archive/'>Archive</a></li>
        <li><a href='/atom.xml'>RSS</a></li>
      </ul>
      <h1>
        <a href='/'><span class='name'>
            <span class='a'>T</span><span class='b'>om</span>
            <span class='a'>M</span><span class='b'>a</span><span class='a'>cW</span><span class='b'>right</span></span></a>
      </h1>
    </header>
  <div class='wrapper'>
    <div class='content'>
      {{ content }}
    </div>
    <footer>
    &copy; <a href='http://macwright.org/about'>Tom MacWright</a> | <a href='http://twitter.com/tmcw'>@tmcw</a> |
    <a href='/archive'>Archive</a>
    </footer>
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e36eb1ef5a1f53d6f000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
