<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
    'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>{% if page.title %}{{ page.title }} - {% endif %} macwright.org</title>
    <meta name='author' content='Tom MacWright' />
    <meta name='description' content='Tom MacWright' />
    <!-- faaacebook -->
    <meta property="og:site_name" content="macwright.org"/>
    <meta property="og:email" content="tom@macwright.org"/>
    <meta property="og:type" content="blog" />
    <!-- Homepage CSS -->
    <link rel='alternate' type='application/atom+xml' title='Tom MacWright' href='http://feeds.feedburner.com/tommacwright/odWX'>
    <link rel='stylesheet' href='/css/reset.css' type='text/css' media='screen, projection' />
    <link rel='stylesheet' href='/css/screen.css' type='text/css' media='screen, projection' />
    <link rel='stylesheet' href='/css/pygments.css' type='text/css' media='screen, projection' />
    <!-- keybindings for the front page -->
    <script src="/js/jkjk.min.js"></script>
    <!-- Begrudging acceptance of IE7's existence -->
    <!--[if lt IE 9]>
    <script src="/js/html5shim.js"></script>
    <![endif]-->
</head>
<body>
    <header>
      <ul class='navigation'>
        <li><a href='/'>Blog</a>
        <li><a href='/projects'>Projects</a>
        <li><a href='/music'>Music</a>
        <li><a href='/about'>About</a>
        <li><a href='/archive'>Archive</a>
        <li><a href='http://feeds.feedburner.com/tommacwright/odWX'>RSS</a>
      </ul>
      <h1>
        <!-- <a href='/'><span class='name'>Tom MacWright</span></a> -->
        <a style="width:300px;height:40px;vertical-align:middle;text-align:center;background-color:#000;z-index:5555;display:block;background-image:url(http://americancensorship.org/images/stop-censorship-small.png);background-position:center center;background-repeat:no-repeat;" href="http://americancensorship.org"></a>
      </h1>
    </header>
  <div class='wrapper'>
    <div class='content'>
      {{ content }}
    </div>
    {% if paginator.page %}
    <div id="paginator">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    <footer>
    &copy; <a href='http://macwright.org/about'>Tom MacWright</a> | <a href='http://twitter.com/tmcw'>@tmcw</a> | <a href='http://feeds.feedburner.com/tommacwright/odWX'>Subscribe to this blog</a>
    </footer>
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e36eb1ef5a1f53d6f000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>

